In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv("iris.csv")
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
data.dtypes.value_counts()

float64    4
int64      1
object     1
dtype: int64

1)summary statistics (mean, median, minimum, maximum, standard deviation) 
for a dataset with numeric variables grouped by one of the qualitative (categorical) variable
here we taking categorical variable as different species and numeric variable as SepalLengthCm,	SepalWidthCm, PetalLengthCm,	PetalWidthCm

In [9]:
#summary_stats = data.groupby('Species').agg({'SepalLengthCm': ['mean', 'median', 'min', 'max', 'std'],'SepalWidthCm': ['mean', 'median', 'min', 'max', 'std'],'PetalLengthCm':['mean', 'median', 'min', 'max', 'std'],'PetalWidthCm':['mean','median','min','max','std']})
#print(summary_stats)

In [13]:
data.groupby('Species').agg({'SepalLengthCm': ['mean', 'median', 'min', 'max', 'std']})

                SepalLengthCm
                         mean median  min  max       std
Species
Iris-setosa             5.006    5.0  4.3  5.8  0.352490
Iris-versicolor         5.936    5.9  4.9  7.0  0.516171
Iris-virginica          6.588    6.5  4.9  7.9  0.635880

In [14]:
data.groupby('Species').agg({'SepalWidthCm': ['mean', 'median', 'min', 'max', 'std']})

                SepalWidthCm
                        mean median  min  max       std
Species
Iris-setosa            3.418    3.4  2.3  4.4  0.381024
Iris-versicolor        2.770    2.8  2.0  3.4  0.313798
Iris-virginica         2.974    3.0  2.2  3.8  0.322497

In [15]:
data.groupby('Species').agg({'PetalLengthCm': ['mean', 'median', 'min', 'max', 'std']})

                PetalLengthCm
                         mean median  min  max       std
Species
Iris-setosa             1.464   1.50  1.0  1.9  0.173511
Iris-versicolor         4.260   4.35  3.0  5.1  0.469911
Iris-virginica          5.552   5.55  4.5  6.9  0.551895

In [17]:
data.groupby('Species').agg({'PetalWidthCm': ['mean', 'median', 'min', 'max', 'std']})

                PetalWidthCm
                        mean median  min  max       std
Species
Iris-setosa            0.244    0.2  0.1  0.6  0.107210
Iris-versicolor        1.326    1.3  1.0  1.8  0.197753
Iris-virginica         2.026    2.0  1.4  2.5  0.274650

2) 
Filter the dataset for specific species

In [20]:
print('Iris-setosa')
setosa = data['Species'] == 'Iris-setosa'
print(data[setosa].describe())

Iris-setosa
             Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  50.00000       50.00000     50.000000      50.000000      50.00000
mean   25.50000        5.00600      3.418000       1.464000       0.24400
std    14.57738        0.35249      0.381024       0.173511       0.10721
min     1.00000        4.30000      2.300000       1.000000       0.10000
25%    13.25000        4.80000      3.125000       1.400000       0.20000
50%    25.50000        5.00000      3.400000       1.500000       0.20000
75%    37.75000        5.20000      3.675000       1.575000       0.30000
max    50.00000        5.80000      4.400000       1.900000       0.60000

In [19]:
print("Iris-versicolor")
versicolor = data['Species'] == "Iris-versicolor"
print(data[versicolor].describe())

Iris-versicolor
              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000      50.000000     50.000000      50.000000     50.000000
mean    75.50000       5.936000      2.770000       4.260000      1.326000
std     14.57738       0.516171      0.313798       0.469911      0.197753
min     51.00000       4.900000      2.000000       3.000000      1.000000
25%     63.25000       5.600000      2.525000       4.000000      1.200000
50%     75.50000       5.900000      2.800000       4.350000      1.300000
75%     87.75000       6.300000      3.000000       4.600000      1.500000
max    100.00000       7.000000      3.400000       5.100000      1.800000

In [18]:
print("Iris-virginica")
virginica = data["Species"] == 'Iris-virginica'
print(data[virginica].describe())

Iris-virginica
              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000       50.00000     50.000000      50.000000      50.00000
mean   125.50000        6.58800      2.974000       5.552000       2.02600
std     14.57738        0.63588      0.322497       0.551895       0.27465
min    101.00000        4.90000      2.200000       4.500000       1.40000
25%    113.25000        6.22500      2.800000       5.100000       1.80000
50%    125.50000        6.50000      3.000000       5.550000       2.00000
75%    137.75000        6.90000      3.175000       5.875000       2.30000
max    150.00000        7.90000      3.800000       6.900000       2.50000